<div class="form-group">
    <label for="name">Name</label>
    <input required type="text" name="name" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" required name="email" id="email" class="form-control"></input>
  </div>
  <div class="form-group">
    <label for="batch">Batch</label>
    <select id="batch" name="batch" class="form-control">
      <option value="F1">F1</option>
      <option value="F2">F2</option>
      <option value="F3">F3</option>
      <option value="F4">F4</option>
      <option value="F5">F5</option>
      <option value="F6">F6</option>
      <option value="F7">F7</option>
      <option value="F8">F8</option>
    </select>
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <select id="year" name="year" class="form-control">
      <option value="1">1st Year</option>
      <option value="2">2nd Year</option>
      <option value="3">3rd Year</option>
      <option value="4">4th Year</option>
    </select>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" required name="password" id="password" class="form-control"></input>
  </div>
  <button type="submit" class="block">Signup</button>