
<div style="margin-top:5%;">
<div class="form-group">
  <label for="title" style="color:#280240;">Title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="target" style="color:#280240 ;">Description</label>
  <textarea name="target" id="targer" class="form-control"><%= article.target %></textarea>
</div>
<div class="form-group">
  <label for="description"  style="color:#280240 ;">Markdown</label>
  <textarea required name="description" id="description" class="form-control"><%= article.description%></textarea>
</div>
<button class="block" type="submit">SAVE CHANGES</button>
