<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
    <style>
   button {
    font-size: 113%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blueviolet;
    

    
}
button:hover{
  background-color: #d29dec;
}
  .navbar-custom {
              background-color: #280240;
          }
  .navbar-custom .navbar-brand,.nav-link,
  .navbar-custom .navbar-text {
              color: white;
          }
  .navbar-brand{
    border-style: solid;border-color: white;
    padding: .3em;
  }
  .navbar-brand:hover {
  
  color: #280240;
  background-color: white;
}
.nav-link:hover{
    color: #d29dec;
}
  .active{
    color: #f7ac22;
  }
  .post {
  height: 10%;
  background-color: #f7ac22;
  color: black;
  position:relative;
  margin-top: 4%;
  margin-left: 48%;
}
.block {
  display: block;
  width: 100%;
  margin-top: 5%;
  border: none;
  background-color: #f7ac22;
  color: black;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-custom">
  <a href="#" class="navbar-brand">COLLEGE-SPACE</a></div>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarM">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarM">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/login" class="nav-link ">Login</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link active">Signup</a>
          </li>
      </ul>
  </div>
</nav>
  <div class="container">
    <div class="card mt-4" style="border: 1px solid black;">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="card-subtitle text-muted mb-2">
          <form action="/users/signup" method="POST">
      
            <%- include('_form_field2') %>
          
          </form>
         
        </div>
        <div class="card-text mb-2"></div>
      </div>
      </div>
  </div>
</body>
</html>